.tab-default .left {
    width: 55%;
}
.tab-default .right {
    float: left;
    margin-left: 10px;
    width: calc(45% - 10px);
}
.tab-default .warning {
    margin-bottom: 10px;
    border: 1px solid silver;
}
.tab-default .warning .title {
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid silver;
    background-color: #cd4c4c;
}
.tab-default .warning p {
    padding: 5px;
}
.tab-default .optional_permissions {
    display: none;
    margin-bottom: 10px;
    border: 1px solid silver;
}
.tab-default .optional_permissions .title {
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid silver;
    background-color: #cd4c4c;
}
.tab-default .optional_permissions p {
    padding: 5px;
}
.tab-default .optional_permissions a {
    display: block;
    float: left;
    height: 18px;
    line-height: 18px;
    margin: 0 0 5px 5px;
    padding: 0 5px 0 5px;
    text-align: center;
    font-weight: bold;
    border: 1px solid silver;
    background-color: #ececec;
}
.tab-default .optional_permissions a:hover {
    background-color: #dedcdc;
}
.tab-default .firmware_upload {
    font-weight: bold;
}
.tab-default .firmware_upload:hover {
    text-decoration: underline;
}
.tab-default .firmware_upload_button {
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0 15px 0 15px;
    text-align: center;
    font-weight: bold;
    border: 1px solid silver;
    background-color: #ececec;
}
.tab-default .firmware_upload_button:hover {
    background-color: #dedcdc;
}
.tab-default .changelog {
    margin-bottom: 10px;
    border: 1px solid silver;
}
.tab-default .changelog .title {
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid silver;
    background-color: #3f4241;
}
.tab-default .changelog .wrapper {
    height: 150px;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-user-select: text;
}
.tab-default .changelog .wrapper span {
    font-weight: bold;
}
.tab-default .changelog .wrapper p {
    margin-bottom: 5px;
}
.tab-default .donate {
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border: 1px solid silver;
}
.tab-default .donate .title {
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid silver;
    background-color: #3f4241;
}
.tab-default .donate p {
    padding: 5px;
}
.tab-default .donate a {
    display: block;
    width: 74px;
    height: 21px;
    margin: auto;
}