.tab-RX_module .notice {
    margin-bottom: 10px;
    
    border: 1px solid silver;
}
    .tab-RX_module .notice .title {
        line-height: 20px;
        
        text-align: center;
        font-weight: bold;
        color: white;
        
        border-bottom: 1px solid silver;
        background-color: #cd4c4c;
    }
    .tab-RX_module .notice p {
        padding: 5px;
    }
.tab-RX_module .retry {
    display: block;
    float: left;
    
    margin-top: 20px;
    
    height: 28px;
    line-height: 28px;
    
    padding: 0 15px 0 15px;
    
    text-align: center;
    font-weight: bold;
    
    border: 1px solid silver;
    background-color: #ececec;
}
.tab-RX_module .retry:hover {
    background-color: #dedcdc;
}