.tab-RX_module {
}
.tab-RX_module .left {
    width: 35%;
}
.tab-RX_module .middle {
    float: left;
    width: 45%;
    margin-left: 10px;
}
.tab-RX_module .right {
    float: left;
}
.tab-RX_module .basic_setting {
    margin-bottom: 10px;
    border: 1px solid silver;
}
.tab-RX_module .basic_setting dl {
    padding: 5px 5px 1px 5px;
}
.tab-RX_module .basic_setting select {
    width: 45%;
}
.tab-RX_module .basic_setting input {
    width: calc(45% - 7px);
}
.tab-RX_module .info {
    border: 1px solid silver;
}
.tab-RX_module .info ul {
    padding: 5px;
    line-height: 20px;
}
.tab-RX_module .failsafe {
    margin-bottom: 10px;
    border: 1px solid silver;
}
.tab-RX_module .failsafe dt {
    width: 50%;
}
.tab-RX_module .failsafe dd {
    float: right;
    margin: 0;
    width: 50%;
}
.tab-RX_module .failsafe dd input {
    padding: 0;
    width: calc(100% - 5px);
}
.tab-RX_module .beacon {
    border: 1px solid silver;
}
.tab-RX_module .beacon dt {
    width: 45%;
}
.tab-RX_module .beacon dd {
    float: right;
    margin: 0;
    width: 55%;
}
.tab-RX_module .beacon dd select {
    float: right;
}
.tab-RX_module .beacon dd input {
    float: right;
    padding: 0;
    width: calc(100% - 5px);
}
.tab-RX_module .beacon .hybrid_element {
    float: right;
}
.tab-RX_module .beacon .hybrid_element input {
    position: absolute;
    padding-left: 5px;
    width: 106px;
    border-right: 0px;
    z-index: 2;
}
.tab-RX_module .beacon .hybrid_element select {
    width: 130px;
    height: 22px;
    z-index: 1;
}
.tab-RX_module .channel_output {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    width: calc(20% - 22px); /* - 2x margin, border */
    border: 1px solid silver;
}
.tab-RX_module .channel_output dt {
    width: 50px;
}
.tab-RX_module .channel_output dd {
    margin-left: 45%;
}
.tab-RX_module .channel_output select {
    width: 100%;
}
.tab-RX_module dl {
    padding: 5px 5px 1px 5px;
}
.tab-RX_module dt {
    float: left;
    width: 65%;
    height: 26px;
    line-height: 22px;
}
.tab-RX_module dd {
    margin-left: 35%;
    height: 26px;
}
.tab-RX_module dl input {
    float: right;
    width: 73px;
    height: 20px;
    padding-left: 5px;
    border: 1px solid silver;
}
.tab-RX_module dd select {
    float: right;
    width: 80px;
    height: 22px;
    border: 1px solid silver;
}
.tab-RX_module .title {
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid silver;
    background-color: #f4f4f4;
}
.tab-RX_module .buttons {
    position: absolute;
    width: calc(100% - 20px);
    bottom: 10px;
}
.tab-RX_module .buttons a:hover {
    background-color: #dedcdc;
}
.tab-RX_module .save_to_file {
    display: block;
    float: left;
    margin-right: 10px;
    width: 160px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    border: 1px solid silver;
    background-color: #ececec;
}
.tab-RX_module .restore_from_file {
    display: block;
    float: left;
    margin-right: 10px;
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    border: 1px solid silver;
    background-color: #ececec;
}
.tab-RX_module a.restore_default {
    display: block;
    float: left;
    margin-right: 10px;
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    border: 1px solid silver;
    background-color: #ececec;
}
.tab-RX_module a.edit_failsafe_values {
    display: block;
    float: right;
    margin-right: 10px;
    width: 130px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    border: 1px solid silver;
    background-color: #ececec;
}
.tab-RX_module a.save_to_eeprom {
    display: block;
    float: right;
    width: 110px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    border: 1px solid silver;
    background-color: #ececec;
}
.tab-RX_module .validation_failed {
    border: 1px solid red;
}