.tab-signal_monitor {
}
    .tab-signal_monitor .bar {
        height: 20px;
        line-height: 20px;
    }
        .tab-signal_monitor .bar .name {
            float: left;
            width: 10%;
        }
        .tab-signal_monitor .bar meter {
            float: left;
            display: block;

            margin-top: 2px;
            width: 63%;
            height: 16px;

            border: 1px solid silver;
        }
        .tab-signal_monitor .bar .value {
            float: left;
            width: calc(5% - 10px);
            padding-left: 10px;

            font-weight: bold;
        }